@import url('https://fonts.googleapis.com/css?family=Aldrich');

body{
	background-color: #1D1F21;
}

section{
	/*background-color: red;*/
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
}

h1{
	color: #F2EFF1;
	font-family: 'Aldrich', sans-serif;
	font-size: 40px;
	font-weight: bold;
}

h2, h3{
	color: #F2EFF1;
	font-family: 'Aldrich', sans-serif;
}

p, label{
	color: #F2EFF1;
	font-family: 'Aldrich', sans-serif;
	font-size: 16px;
}

h4{
	color: #F2EFF1;
	font-family: 'Aldrich', sans-serif;
}

/*.text-center{
	text-align: center;
}*/

.btn-resistance{
	font-family: 'Aldrich', sans-serif;
	font-size: 20px;
	box-sizing: content-box;
	padding: 0 20px;
	border: none;
	border-radius: 20px;
	text-overflow: clip;
	box-shadow: 0 1px 0 0 rgba(40,40,40,1) , 0 2px 0 0 rgba(40,40,40,1) , 0 3px 0 0 rgba(40,40,40,1) , 0 4px 0 0 rgba(40,40,40,1) , 0 5px 0 0 rgba(40,40,40,1) , 0 6px 0 0 rgba(33,38,33,1) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902);
}

.btn-mission{
	height: 5em;
	width: 5em;
}

.img-players{
	width: 20px;
	height: 20px;
}

.resistance-side-nav{
	background-color: #1D1F21;
}

/*.container-home{
	background-color: #1D1F21;
}
*/

.home-h1-size{
	font-size: 100px;
}

.resistance-side-brand{
	color: rgba(255,255,255,1);
  	text-decoration: normal;
  	text-align: center;
 	-o-text-overflow: clip;
  	text-overflow: clip;
  	white-space: pre;
  	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
 	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
 	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.forFive-h1-size{
	font-size: 30px;
}

.resistance-player-name{
	font-family: 'Aldrich', sans-serif;
	font-size: 19px;
}

.player-name-self{
	color: #5baf31;
	font-weight: bold;
}

.player-name-other{
	color: #B1B3D1;
}

.resistance-game-panel{
	background-color: #191A1C;
}

.text-center{
	text-align: center;
}

.resistance-player-list{
/*	display: flex;
	flex-direction: column;
	justify-content: center;*/
}

.resistance-player-content{
	display: flex;
	justify-content: center;
}

.resistance-home{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.resistance-form{
	padding: 20px 300px;
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-name-form{
	display: flex;
	/*justify-content: center;*/
	margin: 30px 0px;
}

.user-name-form>label{
	width: 20%;
}
.user-name-form>input{
	width: 80%;
}

.user-room-form{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.user-room-form > button{
	margin: 20px;
}
/*.user-name-form>*{
	margin: 50px 40px;
}
*/