
<div class="container">
    <div class="resistance-home col-xs-12">
        <h1 class="resistance-side-brand col-xs-12 home-h1-size">THE RESISTANCE</h1>
<!--         <div class="col-xs-12">
            <h3>{{homeMessage}}</h3>
        </div> -->
        <div class="resistance-form col-xs-12">
            <div class="col-xs-12 user-name-form">
                <label>Name:</label>
                <input type="text" ng-model="playerName" placeholder="LasingNaJedi" class="form-control" />
            </div>
            <div class="col-xs-12 user-room-form">
                <div class="user-room-buttons">
                    <button class="btn btn-danger btn-resistance" ng-click="form = 'create'">Create Room</button>
                    <button class="btn btn-warning btn-resistance" ng-click="form = 'join'">Join Room</button>
                </div>
                <div ng-if="form == 'create'" class="">
                    <h2>Create Room</h2>
                    <div class="">
                        <label class="radio-inline"><input type="radio" name="roomType" ng-model="createType" value="five">5 Players</label>
                        <label class="radio-inline"><input type="radio" name="roomType" ng-model="createType" value="ten">10 or more Players</label>
                    </div>
                    <div class="">
                        <label>Room Name:</label>
                        <input type="text" ng-model="createName" class="form-control" />
                    </div><br />
                    <button class="btn btn-success btn-resistance" ng-click="createRoom()">Submit</button>
                </div>
                <div ng-if="form == 'join'" class="">
                    <h2>Join Room</h2>
                    <div class="">
                        <label>Room Name:</label>
                        <input type="text" ng-model="joinName" class="form-control" />
                    </div><br />
                    <button class="btn btn-success btn-resistance" ng-click="joinRoom()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>